* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Epilogue", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  border: none;
}

#header {
  background: #010032;
}
#header .header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header--nav a {
  line-height: 19px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0 15px;
}
#header .header--logo ion-icon {
  color: white;
  width: 25px;
  height: 25px;
}

#hero {
  background: #010032;
}
#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}
#hero .hero--text h1 {
  font-weight: 400;
  font-size: 72px;
  color: #FFFFFF;
  line-height: 76px;
}
#hero .hero--text p {
  line-height: 34px;
  padding: 20px 0;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
#hero .hero--text button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 66px;
  background: white;
  border: 2px solid #FFFFFF;
  border-radius: 32px;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 25px;
}
#hero .hero--text__logo {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
}
#hero .hero--text__logo--bred h3 {
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

#page .page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}
#page .page--text {
  padding-bottom: 150px;
}
#page .page--text__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-right: 300px;
}
#page .page--text__logo h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#page .page--text p {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #000000;
}
#page .page--text__prof {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
}
#page .page--text__prof--word {
  padding: 10px;
}
#page .page--text__prof--word h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
#page .page--text__prof--word h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
#page .page--blog {
  padding-bottom: 150px;
}
#page .page--blog h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  color: #000000;
}
#page .page--blog__img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}
#page .page--blog__img--one h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #4543E8;
}
#page .page--blog__img--one h5 {
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
}
#page .page--blog__img--two h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #4543E8;
}
#page .page--blog__img--two h5 {
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
}
#page .page--blog__img--three h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #4543E8;
}
#page .page--blog__img--three h5 {
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
}
#page .page--blog__toys img {
  padding-top: 50px;
}

#paper .paper--title {
  display: flex;
  align-items: center;
}
#paper .paper--title h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#paper .paper h1 {
  padding-top: 30px;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #000000;
}
#paper .paper--block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#paper .paper--block__one {
  padding-top: 50px;
}
#paper .paper--block__one--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#paper .paper--block__one--text a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#paper .paper--block__one--text a ion-icon {
  padding-left: 230px;
}
#paper .paper--block__two {
  padding-top: 50px;
  padding-bottom: 100px;
}
#paper .paper--block__two--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#paper .paper--block__two--text a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#paper .paper--block__two--text a ion-icon {
  padding-left: 296px;
}
#paper .paper--block__three {
  padding-bottom: 100px;
}
#paper .paper--block__three--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#paper .paper--block__three--text a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#paper .paper--block__three--text a ion-icon {
  padding-left: 460px;
}
#paper .paper--block__four--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#paper .paper--block__four--text a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#paper .paper--block__four--text a ion-icon {
  padding-left: 320px;
}
#paper .paper--block__five--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#paper .paper--block__five--text a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#paper .paper--block__five--text a ion-icon {
  padding-left: 266px;
}
#paper .paper--block__six {
  padding-left: 700px;
  padding-bottom: 100px;
}

#temple {
  background: #010032;
}
#temple .temple {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#temple .temple--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
#temple .temple--logo__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 170px;
}
#temple .temple--logo__title h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#temple .temple--logo__text h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  color: white;
}
#temple .temple--1 {
  padding-right: 50px;
}
#temple .temple--1 h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
#temple .temple--1 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#temple .temple--1 ion-icon {
  color: white;
  width: 42px;
  height: 42px;
}
#temple .temple--2 h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
#temple .temple--2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#temple .temple--2 ion-icon {
  color: white;
  width: 42px;
  height: 42px;
}
#temple .temple--block {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}
#temple .temple--block__one {
  padding-right: 100px;
}
#temple .temple--block__one h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
#temple .temple--block__one p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#temple .temple--block__two {
  padding-left: 50px;
}
#temple .temple--block__two h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
#temple .temple--block__two p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#temple .temple--block__btn {
  padding-top: 100px;
  padding-left: 200px;
}
#temple .temple--block__btn button {
  width: 260px;
  height: 60px;
  background: white;
  border: 2px solid white;
  border-radius: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
#temple .temple--image {
  padding-left: 1080px;
}

#subway {
  background: #D8D8EB;
}
#subway .subway {
  padding-top: 50px;
  padding-bottom: 100px;
}
#subway .subway--text__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#subway .subway--text__logo h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#subway .subway--text__word {
  padding-top: 10px;
}
#subway .subway--text__word h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}
#subway .subway--block {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#subway .subway--block__word {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px 20px 0px 20px;
  width: 576px;
  height: 360px;
}
#subway .subway--block__word--logo h3 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#subway .subway--block__word--logo p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#subway .subway--block__word--logo__title {
  padding-top: 20px;
  padding-right: 300px;
}
#subway .subway--block__word--logo__title--quote h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
#subway .subway--block__word--logo__title--quote h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

#serfice .serfice--logo {
  padding-top: 100px;
}
#serfice .serfice--logo__word {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 910px;
  padding-bottom: 10px;
}
#serfice .serfice--logo__word h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#serfice .serfice--logo__text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#serfice .serfice--logo__text h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1.2px;
  color: #000000;
}
#serfice .serfice--logo__text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #000000;
}
#serfice .serfice--title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#serfice .serfice--title__quote h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#serfice .serfice--title__quote h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#serfice .serfice--title__three {
  padding-top: 28px;
}
#serfice .serfice--title__three h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#serfice .serfice--title__three p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

#tired {
  padding-top: 100px;
}
#tired .tired--text__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tired .tired--text__logo h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#tired .tired--text__word {
  padding-top: 10px;
}
#tired .tired--text__word h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}
#tired .tired--block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#tired .tired--block__type img {
  padding: 15px;
}
#tired .tired--block__type--bred {
  padding: 15px;
}
#tired .tired--block__type--bred h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#tired .tired--block__type--bred h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#tired .tired--border {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tired .tired--border a {
  padding-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #4543E8;
}
#tired .tired--border a ion-icon {
  color: #4543E8;
}
#tired .tired--line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tired .tired--line hr {
  width: 170px;
  padding: 1px 0;
  background: #D8D8EB;
}

#broken {
  padding-top: 100px;
}
#broken .broken--logo {
  padding-top: 100px;
}
#broken .broken--logo__word {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 910px;
  padding-bottom: 10px;
}
#broken .broken--logo__word h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#broken .broken--logo__text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#broken .broken--logo__text h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1.2px;
  color: #000000;
}
#broken .broken--logo__text button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  background: #4543E8;
  border-radius: 32px;
  width: 274px;
  height: 65px;
}
#broken .broken--block {
  display: flex;
  flex-direction: column;
}
#broken .broken--block__room {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
#broken .broken--block__room img {
  padding: 10px;
}
#broken .broken--block__room--two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 40px;
}
#broken .broken--block__room--two img {
  padding: 10px;
}
#broken .broken--block__room--two__space h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#broken .broken--block__room--two__space--btn {
  padding-left: 640px;
}
#broken .broken--block__room--two__space--btn a {
  padding-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #4543E8;
}
#broken .broken--block__room--two__space--btn a ion-icon {
  color: #4543E8;
}
#broken .broken--block__room--two__space--line {
  padding-left: 640px;
}
#broken .broken--block__room--two__space--line hr {
  width: 170px;
  padding: 1px 0;
  background: #D8D8EB;
}
#broken .broken--block__room--two__space h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#broken .broken--block__room--two__space h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#broken .broken--block__room--space h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4543E8;
}
#broken .broken--block__room--space__btn {
  padding-left: 600px;
}
#broken .broken--block__room--space__btn a {
  padding-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #4543E8;
}
#broken .broken--block__room--space__btn a ion-icon {
  color: #4543E8;
}
#broken .broken--block__room--space__line {
  padding-left: 600px;
}
#broken .broken--block__room--space__line hr {
  width: 170px;
  padding: 1px 0;
  background: #D8D8EB;
}
#broken .broken--block__room--space h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
#broken .broken--block__room--space h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
#broken .broken--block--line hr {
  background: #D8D8EB;
}

#inside {
  padding-top: 100px;
}
#inside .inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inside .inside--block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inside .inside--block img {
  width: 674px;
  position: relative;
}
#inside .inside--block__text {
  position: absolute;
}
#inside .inside--block__text h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: white;
}
#inside .inside--block__text h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: white;
}

#footer {
  background: #010032;
}
#footer .footer {
  padding-top: 80px;
}
#footer .footer--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-right: 300px;
}
#footer .footer--logo h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D8D8EB;
}
#footer .footer--word {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .footer--word h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 66px;
  color: white;
}
#footer .footer--word h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 66px;
  color: #D8D8EB;
}
#footer .footer--block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
#footer .footer--block__btn a {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: white;
  text-decoration: underline;
}
#footer .footer--block__text h4 {
  font-weight: 200;
  font-size: 17px;
  line-height: 28px;
  color: white;
}
#footer .footer--block__putin h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#footer .footer--block__putin--price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .footer--block__putin--price input {
  width: 290px;
  height: 48px;
  left: calc(50% - 145px - 80px);
  top: calc(50% - 24px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 240px;
  background: #010032;
}
#footer .footer--block__putin--price button {
  width: 140px;
  height: 48px;
  background: #4543E8;
  border-radius: 24px;
}
#footer .footer--line hr {
  width: 170px;
  background: #D8D8EB;
}
#footer .footer--ending {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
#footer .footer--ending__never a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D8D8EB;
}

/*# sourceMappingURL=style.css.map */
