
@mixin df{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background{
background: #010032;
}

@mixin p {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: $dark;
}


