$white: white;
$font:'Epilogue', sans-serif;
$dark: #000000;
$purple: #4543E8;
$grey:#D8D8EB;
$blue:#010032;
*{
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: $white;
}

body{
  font-family: 'Epilogue', sans-serif;
}

button{
  cursor: pointer;
  border: none;
}

input{
  outline: none;
  border: none;
}